.step {
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.overlay {
  position: absolute;
  z-index: 997;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.submitting,
.success {
  position: absolute;
  z-index: 998;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.submitting .segment,
.success .segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.inline.fields p {
  margin: 0;
  padding-right: 1em;
}

.masthead.segment {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .masthead.segment {
    height: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .masthead.segment {
    height: 500px;
  }
}

.masthead.segment h1 {
  color: #FFF;
  font-weight: 300;
  font-size: 1.75rem;
}

@media screen and (min-width: 400px) {
  .masthead.segment h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 500px) {
  .masthead.segment h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 700px) {
  .masthead.segment h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 900px) {
  .masthead.segment h1 {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1100px) {
  .masthead.segment h1 {
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 1300px) {
  .masthead.segment h1 {
    font-size: 6.5rem;
  }
}

.masthead.segment .ui.huge.button {
  font-size: .78571429rem;
}

@media screen and (min-width: 400px) {
  .masthead.segment .ui.huge.button {
    font-size: .85714286rem;
  }
}

@media screen and (min-width: 500px) {
  .masthead.segment .ui.huge.button {
    font-size: .92857143rem;
  }
}

@media screen and (min-width: 700px) {
  .masthead.segment .ui.huge.button {
    font-size: 1.14285714rem;
  }
}

@media screen and (min-width: 900px) {
  .masthead.segment .ui.huge.button {
    font-size: 1.28571429rem;
  }
}

@media screen and (min-width: 1100px) {
  .masthead.segment .ui.huge.button {
    font-size: 1.42857143rem;
  }
}

@media screen and (min-width: 1300px) {
  .masthead.segment .ui.huge.button {
    font-size: 1.71428571rem;
  }
}

.ui.card {
  width: 100%;
}

.is-centered {
  text-align: center;
}

.is-light {
  font-weight: 300;
}

.is-muted {
  color: rgba(0, 0, 0, 0.4);
}

.mb-8 {
  margin-bottom: 2rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-8 {
  margin-right: 2rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-4 {
  padding-top: 1rem !important;
}

.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.pt-16 {
  padding-top: 4rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.w-full {
  width: 100%;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 360px) {
  .flow-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px) {
  .flow-text {
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px) {
  .flow-text {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px) {
  .flow-text {
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px) {
  .flow-text {
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px) {
  .flow-text {
    font-size: 1.32rem;
  }
}

@media only screen and (min-width: 540px) {
  .flow-text {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px) {
  .flow-text {
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px) {
  .flow-text {
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 630px) {
  .flow-text {
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px) {
  .flow-text {
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px) {
  .flow-text {
    font-size: 1.464rem;
  }
}

@media only screen and (min-width: 720px) {
  .flow-text {
    font-size: 1.488rem;
  }
}

@media only screen and (min-width: 750px) {
  .flow-text {
    font-size: 1.512rem;
  }
}

@media only screen and (min-width: 780px) {
  .flow-text {
    font-size: 1.536rem;
  }
}

@media only screen and (min-width: 810px) {
  .flow-text {
    font-size: 1.56rem;
  }
}

@media only screen and (min-width: 840px) {
  .flow-text {
    font-size: 1.584rem;
  }
}

@media only screen and (min-width: 870px) {
  .flow-text {
    font-size: 1.608rem;
  }
}

@media only screen and (min-width: 900px) {
  .flow-text {
    font-size: 1.632rem;
  }
}

@media only screen and (min-width: 930px) {
  .flow-text {
    font-size: 1.656rem;
  }
}

@media only screen and (min-width: 960px) {
  .flow-text {
    font-size: 1.68rem;
  }
}

@media only screen and (max-width: 360px) {
  .flow-text {
    font-size: 1.2rem;
  }
}

.flow-header {
  font-size: 2rem;
  font-weight: 300;
}

@media screen and (min-width: 400px) {
  .flow-header {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 500px) {
  .flow-header {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 700px) {
  .flow-header {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 900px) {
  .flow-header {
    font-size: 5.5rem;
  }
}

