.step {
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.overlay {
  position: absolute;
  z-index: 997;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.submitting,
.success {
  position: absolute;
  z-index: 998;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.submitting .segment,
.success .segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.inline.fields p {
  margin: 0;
  padding-right: 1em;
}

.masthead.segment {
  height: 300px;
  background-image: url(/images/banner.jpg?cbbdbb247f0465261797634ea7796055) !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .masthead.segment {
    height: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .masthead.segment {
    height: 500px;
  }
}

.masthead.segment h1 {
  color: #FFF;
  font-weight: 300;
  font-size: 1.75rem;
}

@media screen and (min-width: 400px) {
  .masthead.segment h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 500px) {
  .masthead.segment h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 700px) {
  .masthead.segment h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 900px) {
  .masthead.segment h1 {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1100px) {
  .masthead.segment h1 {
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 1300px) {
  .masthead.segment h1 {
    font-size: 6.5rem;
  }
}

.masthead.segment .ui.huge.button {
  font-size: .78571429rem;
}

@media screen and (min-width: 400px) {
  .masthead.segment .ui.huge.button {
    font-size: .85714286rem;
  }
}

@media screen and (min-width: 500px) {
  .masthead.segment .ui.huge.button {
    font-size: .92857143rem;
  }
}

@media screen and (min-width: 700px) {
  .masthead.segment .ui.huge.button {
    font-size: 1.14285714rem;
  }
}

@media screen and (min-width: 900px) {
  .masthead.segment .ui.huge.button {
    font-size: 1.28571429rem;
  }
}

@media screen and (min-width: 1100px) {
  .masthead.segment .ui.huge.button {
    font-size: 1.42857143rem;
  }
}

@media screen and (min-width: 1300px) {
  .masthead.segment .ui.huge.button {
    font-size: 1.71428571rem;
  }
}

.is-centered {
  text-align: center;
}

.mb-8 {
  margin-bottom: 2rem !important;
}

.mr-8 {
  margin-right: 2rem !important;
}

